In [40]:
import pandas as pd
import numpy as np

df = pd.read_csv("customer_shopping_behavior.csv")
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [44]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [46]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [48]:
df.duplicated().sum()

0

In [50]:
df['Category'].nunique()

4

In [36]:
# medi = df['Review Rating'].median()
# df['Review Rating'] = df['Review Rating'].fillna(medi)

In [64]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [70]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')

In [82]:
df = df.rename(columns = {'purchase_amount_(usd)' : "purchase_amount"})

In [84]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [86]:
## create a column age group 
labels = ["Young Adult", "Adult", "Middle-aged", "Senior"]
df['age_group'] = pd.qcut(df['age'], q = 4, labels = labels)

In [88]:
df[['age','age_group']]

      age    age_group
0      55  Middle-aged
1      19  Young Adult
2      50  Middle-aged
3      21  Young Adult
4      45  Middle-aged
...   ...          ...
3895   40        Adult
3896   52  Middle-aged
3897   46  Middle-aged
3898   44        Adult
3899   52  Middle-aged

[3900 rows x 2 columns]

In [94]:
## Create column purchase frequency days
frequency_mapping = {
    "Fortnightly" : 14,
    "Weekly" : 7,
    "Monthly" : 30,
    "Quarterly" : 90,
    "Bi-Weekly" : 14,
    "Annually" : 365,
    "Every 3 Months": 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [100]:
df[['discount_applied' , 'promo_code_used']].sample(10)

     discount_applied promo_code_used
2824               No              No
1093              Yes             Yes
2784               No              No
1174              Yes             Yes
2621               No              No
1171              Yes             Yes
3279               No              No
2473               No              No
3608               No              No
2705               No              No

In [106]:
(df['discount_applied'] == df['promo_code_used']).all()

True

In [108]:
## just using promo code
df = df.drop('promo_code_used', axis = 1)

In [110]:
!pip install mysql-connector-python sqlalchemy pymysql

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp312-cp312-win_amd64.whl.metadata (7.7 kB)
Requirement already satisfied: sqlalchemy in c:\users\lenovo\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: pymysql in c:\users\lenovo\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Downloading mysql_connector_python-9.5.0-cp312-cp312-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 699.0 kB/s eta 0:00:23
   - -------------------------------------- 0.5/16.5 MB 699.0 kB/s eta 0:00:23
   - -------------------------------------- 0.8/16.5 MB 780.2 kB/s eta 0:00:21
   -- ------------------------------------- 1.0/16.5 MB 838.4 kB/s eta 0:00:19
   --- ------------------------------------ 1.3/16.5 MB 860.2 kB/s eta 0:00:18
   --- ------------------------------------ 1.3/16.5 MB 860.2 kB/s eta 0:00:18
   --- ------------------------------------ 1.6/16.5 MB 855.6 kB/s eta 0:00:18
   ---- ----------------------------------- 1.8/16.5 MB 875.3 kB/s eta 0:00:17
   ----- ---------------------------------- 2.1/16.5 MB 924.4 kB/s eta 0:00:16
   ----- ---------------------------------- 2.4/16.5 MB 965.5 kB/s eta 0:00:15
   ------ --------------------------------- 2.6/16.5 MB 931.8 kB/s eta 0:00:15
   ------ --------------------------------- 2.6/16.5 MB 931.8 kB/s eta 0:00:15
   ------ --------------------------------- 2.6/16.5 MB 931.8 kB/s eta 0:00:15
   ------ --------------------------------- 2.9/16.5 MB 873.8 kB/s eta 0:00:16
   ------ --------------------------------- 2.9/16.5 MB 873.8 kB/s eta 0:00:16
   ------- -------------------------------- 3.1/16.5 MB 846.4 kB/s eta 0:00:16
   ------- -------------------------------- 3.1/16.5 MB 846.4 kB/s eta 0:00:16
   -------- ------------------------------- 3.4/16.5 MB 828.5 kB/s eta 0:00:16
   -------- ------------------------------- 3.7/16.5 MB 832.4 kB/s eta 0:00:16
   --------- ------------------------------ 3.9/16.5 MB 844.8 kB/s eta 0:00:15
   --------- ------------------------------ 3.9/16.5 MB 844.8 kB/s eta 0:00:15
   ---------- ----------------------------- 4.2/16.5 MB 836.1 kB/s eta 0:00:15
   ---------- ----------------------------- 4.2/16.5 MB 836.1 kB/s eta 0:00:15
   ---------- ----------------------------- 4.5/16.5 MB 823.4 kB/s eta 0:00:15
   ----------- ---------------------------- 4.7/16.5 MB 836.4 kB/s eta 0:00:15
   ----------- ---------------------------- 4.7/16.5 MB 836.4 kB/s eta 0:00:15
   ------------ --------------------------- 5.0/16.5 MB 825.1 kB/s eta 0:00:14
   ------------ --------------------------- 5.2/16.5 MB 819.5 kB/s eta 0:00:14
   ------------ --------------------------- 5.2/16.5 MB 819.5 kB/s eta 0:00:14
   ------------ --------------------------- 5.2/16.5 MB 819.5 kB/s eta 0:00:14
   ------------- -------------------------- 5.5/16.5 MB 778.5 kB/s eta 0:00:15
   ------------- -------------------------- 5.5/16.5 MB 778.5 kB/s eta 0:00:15
   ------------- -------------------------- 5.5/16.5 MB 778.5 kB/s eta 0:00:15
   ------------- -------------------------- 5.8/16.5 MB 765.9 kB/s eta 0:00:15
   ------------- -------------------------- 5.8/16.5 MB 765.9 kB/s eta 0:00:15
   ------------- -------------------------- 5.8/16.5 MB 765.9 kB/s eta 0:00:15
   -------------- ------------------------- 6.0/16.5 MB 733.7 kB/s eta 0:00:15
   -------------- ------------------------- 6.0/16.5 MB 733.7 kB/s eta 0:00:15
   -------------- ------------------------- 6.0/16.5 MB 733.7 kB/s eta 0:00:15
   -------------- ------------------------- 6.0/16.5 MB 733.7 kB/s eta 0:00:15
   --------------- ------------------------ 6.3/16.5 MB 685.4 kB/s eta 0:00:15
   --------------- ------------------------ 6.3/16.5 MB 685.4 kB/s eta 0:00:15
   --------------- ------------------------ 6.3/16.5 MB 685.4 kB/s eta 0:00:15
   --------------- ------------------------ 6.3/16.5 MB 685.4 kB/s eta 0:00:15
   --------------- ------------------------ 6.3/16.5 MB 685.4 kB/s eta 0:00:15
   --------------- ------------------------ 6.3/16.5 MB 685.4 kB/s eta 0:00:15
   --------------- ------------------------ 6.3/16.5 MB 685.4 kB/s eta 0:00:15
   --------------- ------------------------ 6.6/16.5 MB 609.2 kB/s eta 0:00:17
   --------------- ------------------------ 6.6/16.5 MB 609.2 kB/s eta 0:00:17
   --------------- ------------------------ 6.6/16.5 MB 609.2 kB/s eta 0:00:17
   --------------- ------------------------ 6.6/16.5 MB 609.2 kB/s eta 0:00:17
   --------------- ------------------------ 6.6/16.5 MB 609.2 kB/s eta 0:00:17
   --------------- ------------------------ 6.6/16.5 MB 609.2 kB/s eta 0:00:17
   --------------- ------------------------ 6.6/16.5 MB 609.2 kB/s eta 0:00:17
   --------------- ------------------------ 6.6/16.5 MB 609.2 kB/s eta 0:00:17
   --------------- ------------------------ 6.6/16.5 MB 609.2 kB/s eta 0:00:17
   --------------- ------------------------ 6.6/16.5 MB 609.2 kB/s eta 0:00:17
   --------------- ------------------------ 6.6/16.5 MB 609.2 kB/s eta 0:00:17
   ---------------- ----------------------- 6.8/16.5 MB 522.3 kB/s eta 0:00:19
   ---------------- ----------------------- 6.8/16.5 MB 522.3 kB/s eta 0:00:19
   ---------------- ----------------------- 6.8/16.5 MB 522.3 kB/s eta 0:00:19
   ----------------- ---------------------- 7.1/16.5 MB 518.7 kB/s eta 0:00:19
   ----------------- ---------------------- 7.3/16.5 MB 524.3 kB/s eta 0:00:18
   ----------------- ---------------------- 7.3/16.5 MB 524.3 kB/s eta 0:00:18
   ----------------- ---------------------- 7.3/16.5 MB 524.3 kB/s eta 0:00:18
   ----------------- ---------------------- 7.3/16.5 MB 524.3 kB/s eta 0:00:18
   ----------------- ---------------------- 7.3/16.5 MB 524.3 kB/s eta 0:00:18
   ----------------- ---------------------- 7.3/16.5 MB 524.3 kB/s eta 0:00:18
   ----------------- ---------------------- 7.3/16.5 MB 524.3 kB/s eta 0:00:18
   ----------------- ---------------------- 7.3/16.5 MB 524.3 kB/s eta 0:00:18
   ----------------- ---------------------- 7.3/16.5 MB 524.3 kB/s eta 0:00:18
   ----------------- ---------------------- 7.3/16.5 MB 524.3 kB/s eta 0:00:18
   ----------------- ---------------------- 7.3/16.5 MB 524.3 kB/s eta 0:00:18
   ------------------ --------------------- 7.6/16.5 MB 467.9 kB/s eta 0:00:20
   ------------------ --------------------- 7.6/16.5 MB 467.9 kB/s eta 0:00:20
   ------------------ --------------------- 7.6/16.5 MB 467.9 kB/s eta 0:00:20
   ------------------- -------------------- 7.9/16.5 MB 460.7 kB/s eta 0:00:19
   ------------------- -------------------- 7.9/16.5 MB 460.7 kB/s eta 0:00:19
   ------------------- -------------------- 8.1/16.5 MB 466.0 kB/s eta 0:00:18
   ------------------- -------------------- 8.1/16.5 MB 466.0 kB/s eta 0:00:18
   -------------------- ------------------- 8.4/16.5 MB 468.1 kB/s eta 0:00:18
   -------------------- ------------------- 8.4/16.5 MB 468.1 kB/s eta 0:00:18
   -------------------- ------------------- 8.4/16.5 MB 468.1 kB/s eta 0:00:18
   -------------------- ------------------- 8.4/16.5 MB 468.1 kB/s eta 0:00:18
   -------------------- ------------------- 8.4/16.5 MB 468.1 kB/s eta 0:00:18
   -------------------- ------------------- 8.4/16.5 MB 468.1 kB/s eta 0:00:18
   -------------------- ------------------- 8.4/16.5 MB 468.1 kB/s eta 0:00:18
   -------------------- ------------------- 8.4/16.5 MB 468.1 kB/s eta 0:00:18
   -------------------- ------------------- 8.4/16.5 MB 468.1 kB/s eta 0:00:18
   -------------------- ------------------- 8.7/16.5 MB 435.4 kB/s eta 0:00:19
   -------------------- ------------------- 8.7/16.5 MB 435.4 kB/s eta 0:00:19
   -------------------- ------------------- 8.7/16.5 MB 435.4 kB/s eta 0:00:19
   -------------------- ------------------- 8.7/16.5 MB 435.4 kB/s eta 0:00:19
   -------------------- ------------------- 8.7/16.5 MB 435.4 kB/s eta 0:00:19
   -------------------- ------------------- 8.7/16.5 MB 435.4 kB/s eta 0:00:19
   --------------------- ------------------ 8.9/16.5 MB 424.2 kB/s eta 0:00:18
   --------------------- ------------------ 8.9/16.5 MB 424.2 kB/s eta 0:00:18
   ---------------------- ----------------- 9.2/16.5 MB 426.3 kB/s eta 0:00:18
   ---------------------- ----------------- 9.4/16.5 MB 433.0 kB/s eta 0:00:17
   ----------------------- ---------------- 9.7/16.5 MB 440.5 kB/s eta 0:00:16
   ----------------------- ---------------- 9.7/16.5 MB 440.5 kB/s eta 0:00:16
   ----------------------- ---------------- 9.7/16.5 MB 440.5 kB/s eta 0:00:16
   ----------------------- ---------------- 9.7/16.5 MB 440.5 kB/s eta 0:00:16
   ------------------------ --------------- 10.0/16.5 MB 439.0 kB/s eta 0:00:15
   ------------------------ --------------- 10.0/16.5 MB 439.0 kB/s eta 0:00:15
   ------------------------ --------------- 10.2/16.5 MB 438.5 kB/s eta 0:00:15
   ------------------------ --------------- 10.2/16.5 MB 438.5 kB/s eta 0:00:15
   ------------------------ --------------- 10.2/16.5 MB 438.5 kB/s eta 0:00:15
   ------------------------ --------------- 10.2/16.5 MB 438.5 kB/s eta 0:00:15
   ------------------------- -------------- 10.5/16.5 MB 436.5 kB/s eta 0:00:14
   -------------------------- ------------- 10.7/16.5 MB 443.8 kB/s eta 0:00:13
   -------------------------- ------------- 11.0/16.5 MB 447.8 kB/s eta 0:00:13
   -------------------------- ------------- 11.0/16.5 MB 447.8 kB/s eta 0:00:13
   --------------------------- ------------ 11.3/16.5 MB 450.5 kB/s eta 0:00:12
   --------------------------- ------------ 11.5/16.5 MB 457.8 kB/s eta 0:00:11
   --------------------------- ------------ 11.5/16.5 MB 457.8 kB/s eta 0:00:11
   ---------------------------- ----------- 11.8/16.5 MB 461.1 kB/s eta 0:00:11
   ---------------------------- ----------- 11.8/16.5 MB 461.1 kB/s eta 0:00:11
   ---------------------------- ----------- 11.8/16.5 MB 461.1 kB/s eta 0:00:11
   ----------------------------- ---------- 12.1/16.5 MB 460.4 kB/s eta 0:00:10
   ----------------------------- ---------- 12.3/16.5 MB 467.2 kB/s eta 0:00:09
   ----------------------------- ---------- 12.3/16.5 MB 467.2 kB/s eta 0:00:09
   ----------------------------- ---------- 12.3/16.5 MB 467.2 kB/s eta 0:00:09
   ----------------------------- ---------- 12.3/16.5 MB 467.2 kB/s eta 0:00:09
   ----------------------------- ---------- 12.3/16.5 MB 467.2 kB/s eta 0:00:09
   ----------------------------- ---------- 12.3/16.5 MB 467.2 kB/s eta 0:00:09
   ----------------------------- ---------- 12.3/16.5 MB 467.2 kB/s eta 0:00:09
   ----------------------------- ---------- 12.3/16.5 MB 467.2 kB/s eta 0:00:09
   ------------------------------ --------- 12.6/16.5 MB 448.5 kB/s eta 0:00:09
   ------------------------------ --------- 12.6/16.5 MB 448.5 kB/s eta 0:00:09
   ------------------------------ --------- 12.6/16.5 MB 448.5 kB/s eta 0:00:09
   ------------------------------ --------- 12.6/16.5 MB 448.5 kB/s eta 0:00:09
   ------------------------------ --------- 12.6/16.5 MB 448.5 kB/s eta 0:00:09
   ------------------------------ --------- 12.6/16.5 MB 448.5 kB/s eta 0:00:09
   ------------------------------ --------- 12.6/16.5 MB 448.5 kB/s eta 0:00:09
   ------------------------------ --------- 12.6/16.5 MB 448.5 kB/s eta 0:00:09
   ------------------------------ --------- 12.6/16.5 MB 448.5 kB/s eta 0:00:09
   ------------------------------- -------- 12.8/16.5 MB 427.0 kB/s eta 0:00:09
   ------------------------------- -------- 12.8/16.5 MB 427.0 kB/s eta 0:00:09
   ------------------------------- -------- 12.8/16.5 MB 427.0 kB/s eta 0:00:09
   ------------------------------- -------- 12.8/16.5 MB 427.0 kB/s eta 0:00:09
   ------------------------------- -------- 12.8/16.5 MB 427.0 kB/s eta 0:00:09
   ------------------------------- -------- 13.1/16.5 MB 411.3 kB/s eta 0:00:09
   ------------------------------- -------- 13.1/16.5 MB 411.3 kB/s eta 0:00:09
   ------------------------------- -------- 13.1/16.5 MB 411.3 kB/s eta 0:00:09
   ------------------------------- -------- 13.1/16.5 MB 411.3 kB/s eta 0:00:09
   ------------------------------- -------- 13.1/16.5 MB 411.3 kB/s eta 0:00:09
   ------------------------------- -------- 13.1/16.5 MB 411.3 kB/s eta 0:00:09
   ------------------------------- -------- 13.1/16.5 MB 411.3 kB/s eta 0:00:09
   ------------------------------- -------- 13.1/16.5 MB 411.3 kB/s eta 0:00:09
   -------------------------------- ------- 13.4/16.5 MB 362.0 kB/s eta 0:00:09
   -------------------------------- ------- 13.4/16.5 MB 362.0 kB/s eta 0:00:09
   -------------------------------- ------- 13.4/16.5 MB 362.0 kB/s eta 0:00:09
   --------------------------------- ------ 13.6/16.5 MB 359.6 kB/s eta 0:00:09
   --------------------------------- ------ 13.6/16.5 MB 359.6 kB/s eta 0:00:09
   --------------------------------- ------ 13.6/16.5 MB 359.6 kB/s eta 0:00:09
   --------------------------------- ------ 13.6/16.5 MB 359.6 kB/s eta 0:00:09
   --------------------------------- ------ 13.9/16.5 MB 350.6 kB/s eta 0:00:08
   --------------------------------- ------ 13.9/16.5 MB 350.6 kB/s eta 0:00:08
   --------------------------------- ------ 13.9/16.5 MB 350.6 kB/s eta 0:00:08
   ---------------------------------- ----- 14.2/16.5 MB 335.7 kB/s eta 0:00:08
   ---------------------------------- ----- 14.2/16.5 MB 335.7 kB/s eta 0:00:08
   ---------------------------------- ----- 14.2/16.5 MB 335.7 kB/s eta 0:00:08
   ---------------------------------- ----- 14.2/16.5 MB 335.7 kB/s eta 0:00:08
   ---------------------------------- ----- 14.4/16.5 MB 325.0 kB/s eta 0:00:07
   ---------------------------------- ----- 14.4/16.5 MB 325.0 kB/s eta 0:00:07
   ---------------------------------- ----- 14.4/16.5 MB 325.0 kB/s eta 0:00:07
   ---------------------------------- ----- 14.4/16.5 MB 325.0 kB/s eta 0:00:07
   ----------------------------------- ---- 14.7/16.5 MB 314.7 kB/s eta 0:00:06
   ----------------------------------- ---- 14.7/16.5 MB 314.7 kB/s eta 0:00:06
   ----------------------------------- ---- 14.7/16.5 MB 314.7 kB/s eta 0:00:06
   ----------------------------------- ---- 14.7/16.5 MB 314.7 kB/s eta 0:00:06
   ------------------------------------ --- 14.9/16.5 MB 307.1 kB/s eta 0:00:06
   ------------------------------------ --- 14.9/16.5 MB 307.1 kB/s eta 0:00:06
   ------------------------------------ --- 14.9/16.5 MB 307.1 kB/s eta 0:00:06
   ------------------------------------ --- 14.9/16.5 MB 307.1 kB/s eta 0:00:06
   ------------------------------------ --- 15.2/16.5 MB 306.0 kB/s eta 0:00:05
   ------------------------------------ --- 15.2/16.5 MB 306.0 kB/s eta 0:00:05
   ------------------------------------- -- 15.5/16.5 MB 312.5 kB/s eta 0:00:04
   ------------------------------------- -- 15.5/16.5 MB 312.5 kB/s eta 0:00:04
   -------------------------------------- - 15.7/16.5 MB 316.0 kB/s eta 0:00:03
   -------------------------------------- - 15.7/16.5 MB 316.0 kB/s eta 0:00:03
   -------------------------------------- - 16.0/16.5 MB 327.2 kB/s eta 0:00:02
   -------------------------------------- - 16.0/16.5 MB 327.2 kB/s eta 0:00:02
   -------------------------------------- - 16.0/16.5 MB 327.2 kB/s eta 0:00:02
   -------------------------------------- - 16.0/16.5 MB 327.2 kB/s eta 0:00:02
   -------------------------------------- - 16.0/16.5 MB 327.2 kB/s eta 0:00:02
   ---------------------------------------  16.3/16.5 MB 325.7 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 325.7 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 325.7 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 325.7 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 325.7 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 325.7 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 325.7 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 325.7 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 325.7 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 325.7 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 325.7 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 325.7 kB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 317.8 kB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL credentials
username = "root"
password = ""
host = "localhost"
port = "3306"
database = "customer_behavior"

# Create engine
engine = create_engine(
    f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
)

# Load DataFrame into MySQL
table_name = "customer"

df.to_sql(
    table_name,
    con=engine,
    if_exists="replace",
    index=False
)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'customer' in database 'customer_behavior'.

In [130]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle-aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle-aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle-aged,365

In [164]:
df['shipping_type'].unique()

array(['Express', 'Free Shipping', 'Next Day Air', 'Standard',
       '2-Day Shipping', 'Store Pickup'], dtype=object)

In [158]:
df['shipping_type'].nunique()

6